# Copyright 2018 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

@include /usr/share/policy/crosvm/common_device.policy

pread64: 1
pwrite64: 1
lstat64: 1
stat64: 1
open: 1
openat: 1
fstat64: 1
ioctl: arg1 == FIOCLEX
getdents64: 1
fdatasync: 1
fsync: 1
mkdir: 1
rmdir: 1
rename: 1
writev: 1
link: 1
unlink: 1
socket: arg0 == AF_UNIX
utimensat: 1
ftruncate64: 1
fchown: arg1 == 0xffffffff && arg2 == 0xffffffff
statfs64: 1
fstatat64: 1
