# Copyright 2018 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

@include /usr/share/policy/crosvm/common_device.policy

pread64: 1
pwrite64: 1
stat64: 1
statx: 1
fstat64: 1
ioctl: arg1 == FIOCLEX
_llseek: 1
getdents64: 1
fdatasync: 1
fsync: 1
mkdirat: 1
open: 1
openat: 1
rmdir: 1
renameat: 1
linkat: 1
unlinkat: 1
socket: arg0 == AF_UNIX
utimensat: 1
utimensat_time64: 1
ftruncate64: 1
fchmod: 1
fchmodat: 1
fchown: 1
fchownat: 1
fstatfs: 1
fstatfs64: 1
fstatat64: 1
prctl: arg0 == PR_SET_NAME
