# Copyright 2018 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

@include /usr/share/policy/crosvm/common_device.policy

fallocate: 1
fdatasync: 1
fstat64: 1
fsync: 1
ftruncate64: 1
_llseek: 1
timerfd_create: 1
timerfd_gettime: 1
timerfd_settime: 1
