# Copyright 2019 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

@include /usr/share/policy/crosvm/common_device.policy

open: return ENOENT
openat: return ENOENT
prlimit64: 1
setrlimit: 1
sched_setscheduler: 1
socketpair: arg0 == AF_UNIX
prctl: arg0 == PR_SET_NAME
timerfd_create: 1
timerfd_gettime: 1
timerfd_gettime64: 1
timerfd_settime: 1
timerfd_settime64: 1
