# Copyright 2019 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

openat: 1

@include /usr/share/policy/crosvm/common_device.policy

fchmodat: 1
fchownat: 1
fgetxattr: 1
fsetxattr: 1
fstatat64: 1
fstatfs64: 1
ftruncate64: 1
getdents64: 1
getegid32: 1
geteuid32: 1
linkat: 1
_llseek: 1
mkdirat: 1
mknodat: 1
preadv: 1
pwritev: 1
readlinkat: 1
renameat2: 1
setresgid32: 1
setresuid32: 1
symlinkat: 1
umask: 1
unlinkat: 1
utimensat: 1