# Copyright 2020 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

@include /usr/share/policy/crosvm/common_device.policy

# Syscalls specific to video devices.
clock_getres: 1
clock_getres_time64: 1
connect: 1
fstatfs64: 1
fstatfs: 1
getegid32: 1
geteuid32: 1
getgid32: 1
getrandom: 1
getresgid32: 1
getresuid32: 1
getsockname: 1
getuid32: 1
# ioctl: arg1 == DRM_IOCTL_*
ioctl: arg1 & 0x6400
memfd_create: 1
openat: 1
send: 1
setpriority: 1
socket: arg0 == AF_UNIX
statx: 1
stat64: 1
prctl: arg0 == PR_SET_NAME
