[package]
name = "cros_async"
version = "0.1.0"
authors = ["The Chromium OS Authors"]
edition = "2018"

[dependencies]
async-trait = "0.1.36"
async-task = "4"
intrusive-collections = "0.9"
io_uring = { path = "../io_uring" } # provided by ebuild
libc = "*"
paste = "1.0"
pin-utils = "0.1.0-alpha.4"
slab = "0.4"
sync = { path = "../sync" } # provided by ebuild
sys_util = { path = "../sys_util" } # provided by ebuild
data_model = { path = "../data_model" } # provided by ebuild
thiserror = "1.0.20"

[dependencies.futures]
version = "*"
default-features = false
features = ["alloc"]

[dev-dependencies]
futures = { version = "*", features = ["executor"] }
futures-executor = { version = "0.3", features = ["thread-pool"] }
futures-util = "0.3"
tempfile = { path = "../tempfile" } # provided by ebuild

[workspace]