[submodule "third_party/minigbm"]
	path = third_party/minigbm
	url = https://chromium.googlesource.com/chromiumos/platform/minigbm
[submodule "third_party/virglrenderer"]
	path = third_party/virglrenderer
	url = https://chromium.googlesource.com/chromiumos/third_party/virglrenderer
[submodule "third_party/minijail"]
	path = third_party/minijail
	url = https://chromium.googlesource.com/chromiumos/platform/minijail
[submodule "third_party/depot_tools"]
	path = third_party/depot_tools
	url = https://chromium.googlesource.com/chromium/tools/depot_tools.git
[submodule "third_party/perfetto"]
	path = third_party/perfetto
	url = https://chromium.googlesource.com/crosvm/perfetto/
