# Copyright 2022 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# Configures a warning when using `repo upload` from the ChromeOS or AOSP checkout of crosvm.
[Hook Scripts]
repo_upload_warning = ./tools/chromeos/repo_upload_warning
