[package]
name = "protos"
version = "0.1.0"
authors = ["The Chromium OS Authors"]
edition = "2021"

[features]
plugin = ["kvm_sys"]
composite-disk = []

[dependencies]
kvm_sys = { path = "../kvm_sys", optional = true }
protobuf = "2.3"

[build-dependencies]
proto_build_tools = { path = "../proto_build_tools" }
