# Copyright 2019 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

@include /usr/share/policy/crosvm/common_device.policy

prlimit64: 1
setrlimit: 1
openat: return ENOENT
prctl: arg0 == PR_SET_NAME
