# Copyright 2019 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

@include /usr/share/policy/crosvm/common_device.policy

chdir: 1
fstat: 1
fsync: 1
getrandom: 1
getuid: 1
mkdirat: 1
newfstatat: 1
openat: 1
prctl: arg0 == PR_SET_NAME
socket: return EACCES
statx: 1
