# Copyright 2022 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

@include /usr/share/policy/crosvm/common_device.policy

connect: 1
newfstatat: 1
getegid: 1
geteuid: 1
getgid: 1
getrandom: 1
getsockname: 1
getuid: 1
# ioctl: arg1 == DRM_IOCTL_*
ioctl: arg1 & 0x6400
openat: 1
setpriority: 1
socket: arg0 == AF_UNIX
prctl: arg0 == PR_SET_NAME
# for libmojo used by libvda
process_vm_readv: 1
