# Format: //devtools/kokoro/config/proto/build.proto

build_file: "crosvm/ci/kokoro/build-push-to-github.sh"

before_action {
  fetch_keystore {
    keystore_resource {
      keystore_config_id: 76320
      keyname: "github_token"
      backend: "blade:keystore-fastconfigpush"
    }
  }
}
