# Copyright 2022 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

@include /usr/share/policy/crosvm/common_device.policy

# VFIO_IOMMU_MAP/UNMAP_DMA
ioctl: arg1 == 0x3B71 || arg1 == 0x3B72
prctl: arg0 == PR_SET_NAME
timerfd_create: 1
timerfd_settime: 1
timerfd_gettime: 1
