[package]
name = "rutabaga_gfx_ffi"
version = "0.1.6"
authors = ["The ChromiumOS Authors + Android Open Source Project"]
edition = "2021"
description = "Handling virtio-gpu protocols with C API"
license-file = "LICENSE"

[lib]
name = "rutabaga_gfx_ffi"
crate-type = ["cdylib", "staticlib"]

[dependencies]
rutabaga_gfx = { path = "../", version = "0.1.6"}
libc = { workspace = true }
log = "0.4"

[features]
minigbm = ["rutabaga_gfx/minigbm"]
gfxstream = ["rutabaga_gfx/gfxstream"]
virgl_renderer = ["rutabaga_gfx/virgl_renderer"]
vulkano = ["rutabaga_gfx/vulkano"]

[profile.dev]
lto = true
incremental = false

[workspace]
