# Basic config
CONFIG_DEFAULT_HOSTNAME="crosvm-guest"
CONFIG_HYPERVISOR_GUEST=y
CONFIG_PARAVIRT=y
CONFIG_PCI=y
CONFIG_PCI_MSI=y
CONFIG_PCIEPORTBUS=y
CONFIG_HOTPLUG_PCI=y
CONFIG_HOTPLUG_PCI_PCIE=y
CONFIG_DEVTMPFS=y
CONFIG_DEVTMPFS_MOUNT=y
CONFIG_CGROUPS=y
CONFIG_UNIX=y
CONFIG_UNIX_SCM=y
CONFIG_SHMEM=y
CONFIG_SYSVIPC=y

# Enable /proc/config.gz
CONFIG_IKCONFIG=y
CONFIG_IKCONFIG_PROC=y

# Virtio devices
CONFIG_VIRTIO_VSOCKETS=y
CONFIG_VIRTIO_PCI=y
CONFIG_VIRTIO_PMEM=y
CONFIG_VIRTIO_BALLOON=y
CONFIG_VIRTIO_PVCLOCK=y
CONFIG_VSOCKETS=y

# Networking
CONFIG_INET=y
CONFIG_NET=y
CONFIG_VIRTIO_NET=y

# Sound
CONFIG_SND_VIRTIO=y
CONFIG_SND=y
CONFIG_SOUND=y

# Serial console
CONFIG_PRINTK_TIME=y
CONFIG_SERIAL_8250_CONSOLE=y
CONFIG_SERIAL_8250_DW=y
CONFIG_SERIAL_8250=y
CONFIG_VIRTIO_CONSOLE=y

# Block devices and file system
CONFIG_EXT4_FS=y
CONFIG_FUSE_FS=y
CONFIG_SQUASHFS_FILE_DIRECT=y
CONFIG_SQUASHFS_LZO=y
CONFIG_SQUASHFS_XATTR=y
CONFIG_SQUASHFS=y
CONFIG_TMPFS_POSIX_ACL=y
CONFIG_TMPFS=y
CONFIG_VIRTIO_BLK=y
CONFIG_VIRTIO_FS=y
CONFIG_FUSE_DAX=y

# 9P Filesharing
CONFIG_NET_9P=y
CONFIG_NET_9P_VIRTIO=y

# Initramfs support
CONFIG_BLK_DEV_RAM=y
CONFIG_BLK_DEV_INITRD=y
CONFIG_TMPFS=y
CONFIG_RD_GZIP=y

# SCSI support
CONFIG_SCSI=y
CONFIG_BLK_DEV_SD=y
CONFIG_SCSI_VIRTIO=y
