# Copyright 2018 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

open: 1
openat: 1

@include /usr/share/policy/crosvm/common_device.policy

pwrite64: 1
stat: 1
statx: 1
fstat: 1
ioctl: arg1 == FIOCLEX
linkat: 1
unlinkat: 1
renameat: 1
pread64: 1
getdents64: 1
mkdirat: 1
rmdir: 1
fsync: 1
fdatasync: 1
utimensat: 1
fchmod: 1
fchmodat: 1
fchown: 1
fchownat: 1
fstatfs: 1
newfstatat: 1
prctl: arg0 == PR_SET_NAME
