# Copyright 2022 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

fallocate: 1
fdatasync: 1
fstat: 1
fsync: 1
# 0x1277 == BLKDISCARD.
ioctl: arg1 == 0x1277
open: return ENOENT
openat: return ENOENT
newfstatat: 1
pread64: 1
preadv: 1
pwrite64: 1
pwritev: 1
statx: 1
timerfd_create: 1
timerfd_gettime: 1
timerfd_settime: 1
prctl: arg0 == PR_SET_NAME || arg0 == PR_SET_PDEATHSIG
