# Copyright 2022 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# Policy file for a block device used as a vvu backend.

@include /usr/share/policy/crosvm/vvu.policy

@include /usr/share/policy/crosvm/common_device.policy
@include /usr/share/policy/crosvm/block.policy
