# Copyright 2019 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

@include /usr/share/policy/crosvm/common_device.policy

# 0x3B6E: VFIO_DEVICE_SET_IRQS
# 0x3B71: VFIO_IOMMU_MAP_DMA
# 0x3B72: VFIO_IOMMU_UNMAP_DMA
# 0x3B75: VFIO_DEVICE_FEATURE
# 0x3B76: VFIO_DEVICE_ACPI_DSM
ioctl: arg1 == 0x3B6E || \
       arg1 == 0x3B71 || \
       arg1 == 0x3B72 || \
       arg1 == 0x3B75 || \
       arg1 == 0x3B76
msync: 1
open: return ENOENT
openat: return ENOENT
pread64: 1
pwrite64: 1
prctl: arg0 == PR_SET_NAME
