# Copyright 2024 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

brk: 1
close: 1
exit_group: 1
# 1034 is F_GET_SEALS
fcntl: arg1 == F_GETFD || arg1 == F_SETFD || arg1 == 1034 || arg1 == F_DUPFD_CLOEXEC
fstat: 1
getdents64: 1
getdents: 1
getegid: 1
geteuid: 1
getpid: 1
getrandom: 1
lgetxattr: 1
llistxattr: 1
madvise: 1
mmap: arg2 in ~PROT_EXEC
mremap: 1
msync: 1
munmap: 1
newfstatat: 1
openat: arg3 in O_RDONLY|O_NONBLOCK|O_CLOEXEC|O_DIRECTORY
readlink: 1
recvfrom: 1
recvmsg: 1
sendmsg: 1
sigaltstack: 1
statx: 1
write: 1
prctl: 1
