# Copyright 2022 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# Policy file for the vhost-user transport over VVU.

ioctl: arg1 == TCGETS || arg1 == TCSETS
# b/239779171: Temporarily disabled as it is also in common_device.policy.
# rseq: 1
# b/239779171: Temporarily disabled as it conflicts with block's definition.
# pread64: 1
# pwrite64: 1
