# Copyright 2022 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

@include /usr/share/policy/crosvm/common_device.policy

accept4: 1
bind: 1
fstat: 1
getdents64: 1
ioctl: arg1 == SIOCGIFFLAGS || arg1 == SIOCSIFFLAGS || arg1 == TCGETS
prctl: arg0 == PR_SET_NAME
socket: arg0 == AF_UNIX
socketpair: 1
