[package]
name = "win_util"
version = "0.1.0"
authors = ["The ChromiumOS Authors"]
edition = "2021"

[dependencies]
anyhow = "1"
enumn = "0.1.0"
libc = "0.2"
once_cell = "1.7"
serde = { version = "1", features = [ "derive" ] }
zeroize = "1.5.7"

[target.'cfg(windows)'.dependencies]
winapi = { version = "0.3", features = ["everything", "std", "impl-default"] }

[dependencies.windows]
version = "0.39.0"
features = [
    "Win32_Foundation",
    "Win32_Globalization",
    "Win32_Graphics_Gdi",
    "Win32_UI_Input_Ime",
    "Win32_UI_Input_KeyboardAndMouse",
    "Win32_UI_TextServices",
    "Win32_UI_WindowsAndMessaging",
    "Win32_System_Com",
]

[build-dependencies.windows]
version = "0.39.0"
features = [
    "Win32_Foundation",
    "Win32_Globalization",
    "Win32_Graphics_Gdi",
    "Win32_UI_Input_Ime",
    "Win32_UI_Input_KeyboardAndMouse",
    "Win32_UI_TextServices",
    "Win32_UI_WindowsAndMessaging",
    "Win32_System_Com",
]
